// body variable
$BodyText: white;
$BodyHeadingColor:linear-gradient(90deg, #18B298 0%, #009DD9 47.53%, #8B4898 97.08%);
$BodyBorderColor:linear-gradient(90deg, #8b4898 0%, #009dd9 47.53%, #18b298 97.08%);
$BodyBg1: linear-gradient(to left, #18B298 0%, #009DD9 47.53%, #8B4898 97.08%);
$BodyBg2: linear-gradient(to right, #18B298 0%, #009DD9 47.53%, #8B4898 97.08%);
$BodyBg3: linear-gradient(90deg, #8b4898 0%, #009dd9 47.53%, #18b298 97.08%);
$BodyBg4: linear-gradient(90deg, #8b4898 0%, #009dd9 102.51%);

// card variable
$CardBg: linear-gradient(90deg, #8b4898 0%, #009dd9 102.51%);
$CardBg1: rgba(255, 255, 255, 0.2);
$CardMask: linear-gradient(#fff 0 0) padding-box,
linear-gradient(#fff 0 0);
$CardFilter: blur(0px);
$CardColor: white;
$CardBorderColor:linear-gradient(90deg, #8b4898 0%, #009dd9 47.53%, #18b298 97.08%) border-box;

// Header variable
$HeaderNavIconMenu: white;
$HeaderNavMenuColor: white;
$HeaderHoverColor: #d1d1d1;
$HeaderHoverBorder:linear-gradient(to left, #18B298 0%, #009DD9 47.53%, #8B4898 97.08%);

// SlideMenu variable 
$SlideMenuColor: white;
$SlideMenuCloseColor: white;

// Box variable 
$BoxBg1: linear-gradient(90deg, rgba(139, 72, 152, 0.4) 0%, rgba(0, 157, 217, 0.4) 47.53%, rgba(24, 178, 152, 0.4) 97.08%);

// Button variable 
$ButtonBg1: linear-gradient(90deg, #8b4898 0%, #009dd9 102.51%);
$ButtonBg2: linear-gradient(90deg, #8b4898 0%, #009dd9 102.51%);
$ButtonBg3: linear-gradient(90deg, 18B298, 009DD9, 8B4898);
$ButtonColor1: white;
$ButtonColor2:linear-gradient(to left, #18B298 0%, #009DD9 47.53%, #8B4898 97.08%);
$ButtonColor3:linear-gradient(to right, #18B298 0%, #009DD9 47.53%, #8B4898 97.08%);
$ButtonBorder: 1px solid #ffffff;

// ProgressBar variable
$ProgressBarBg1: white;
$ProgressBarBg2: linear-gradient(90deg, #8b4898 0%, #009dd9 47.53%, #18b298 97.08%);

// List variable
$ListColor: white;
$ListHoverBg: #ffffff1a;

// DropDown variable
$DropDownColor: white;
$DropDownBtnBg1: inherit;
$DropDownBtnFocusHoverColor: rgba(255, 255, 255, 0.2);
$DropDownListBg:linear-gradient(to right, #18B298 0%, #009DD9 47.53%, #8B4898 97.08%);
$DropDownListColor: white;
$DropDownListHoverBg: rgba(255, 255, 255, 0.2);

// Tabs variables 
// activeBg: rgba(255, 255, 255, 0.2);
$TabsColor: white;
$TabsActiveBg: linear-gradient(90deg, #8b4898 0%, #009dd9 102.51%);
$TabsActiveBorderBg: linear-gradient(90deg, #8b4898 0%, #009dd9 102.51%);

// Table
$TableTitleColor: #41bbe5;
$TableColor: white;
$TableHeaderColor: white;
$TableTdColor: white;

// Footer variable
$FooterBg: linear-gradient(90.17deg, #3F3F3F 0.13%, rgba(63, 63, 63, 0) 99.85%);
$FooterBorder:linear-gradient(90deg, #664898 0%, #009DD9 47.53%, #18B298 97.08%);


// Popup variable
$PopupBg1: white;
$PopupBg2: linear-gradient(90deg, #8b4898 0%, #009dd9 47.53%, #18b298 97.08%);